<div style="height: 100%;" class="bg-dark dk" id="wrap">
    <div id="top">
        <!-- .navbar -->
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">


                <!-- Brand and toggle get grouped for better mobile display -->
                <header class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="index.html" class="navbar-brand"><img src="img/logo.png" alt=""></a>

                </header>



                <div class="topnav">
                    <div class="userAvatar">
                        <img src="https://lh3.googleusercontent.com/-NQ4nVHcH_To/AAAAAAAAAAI/AAAAAAAAAAA/XbOLqPn4YPM/photo.jpg">
                        <div>{{user.name}}</div>
                    </div>
                    <div class="btn-group">
                        <a ng-click="logout()" data-toggle="tooltip" data-original-title="Logout" data-placement="bottom"
                           class="btn btn-metis-1 btn-sm">
                            Выйти <i class="fa fa-power-off"></i>
                        </a>
                    </div>
                </div>




                <div class="collapse navbar-collapse navbar-ex1-collapse">

                    <!-- .nav -->
                    <ul class="nav navbar-nav">
                        <li><a ui-sref-active="menu_item_selected" ui-sref="main.dashboard">Панель управления</a></li>
                        <li><a ui-sref-active="menu_item_selected" ui-sref="main.database">Базы данных</a></li>
                        <li><a ui-sref-active="menu_item_selected" ui-sref="main.reports">Финансовые отчеты</a></li>
                        <li><a ui-sref-active="menu_item_selected" ui-sref="main.admin">Панель администратора</a></li>
                    </ul>
                    <!-- /.nav -->
                </div>
            </div>
            <!-- /.container-fluid -->
        </nav>
        <!-- /.navbar -->
        <header class="head">

        <div class="main-bar">
            <h3>
                <i class="fa fa-home"></i>&nbsp;
                Metis
            </h3>
        </div>
        <!-- /.main-bar -->
    </header>
        <!-- /.head -->
    </div>
    <!-- /#top -->
    <div style="height: 80%;" id="left">
        <!-- #menu -->
        <ul style="height: 100%;" id="menu" class="bg-blue dker">
            <li class="nav-header">Menu</li>
            <li class="nav-divider"></li>

            <li ng-repeat="menuItem in mainMenu">
                <a ng-show="menuItem.have_subitems">
                    <i class="fa fa-dashboard"></i>
                    <span class="link-title">&nbsp;{{menuItem.title}}</span>
                    <span ng-if="menuItem.have_subitems" class="fa arrow"></span>
                </a>
                <a ng-hide="menuItem.have_subitems" ui-sref="{{menuItem.link}}">
                    <i class="fa fa-dashboard"></i>
                    <span class="link-title">&nbsp;{{menuItem.title}}</span>
                    <span ng-if="menuItem.have_subitems" class="fa arrow"></span>
                </a>
                <ul ng-if="menuItem.have_subitems" class="collapse">
                    <li ng-repeat="subItem in menuItem.subitems">
                        <a ng-show="subItem.have_subitems">
                            <i class="fa fa-dashboard"></i>
                            <span class="link-title">&nbsp;{{subItem.title}}</span>
                            <span ng-if="subItem.have_subitems" class="fa arrow"></span>
                        </a>
                        <a ng-hide="subItem.have_subitems" ui-sref="{{subItem.link}}">
                            <i class="fa fa-dashboard"></i>
                            <span class="link-title">&nbsp;{{subItem.title}}</span>
                            <span ng-if="subItem.have_subitems" class="fa arrow"></span>
                        </a>
                        <ul ng-if="subItem.have_subitems" class="collapse">
                            <li ng-repeat="subsubItem in subItem.subitems">
                                <a ui-sref="{{subsubItem.link}}">
                                <i class="fa {{subsubItem.icon}}"></i>&nbsp;{{subsubItem.title}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- /#menu -->
    </div>
    <!-- /#left -->
    <div id="content">
        <div class="outer">
            <div class="inner bg-light lter">
                <div class="col-lg-12">


                    <div ng-if="(curentUserState == 'main')">
                        <!-- Show content only on main page-->
                        Main Page
                    </div>
                    <div ui-view></div>


                </div>

            </div>
            <!-- /.inner -->
        </div>
        <!-- /.outer -->
    </div>
    <!-- /#content -->
</div>
