<div class="box ui-sortable-handle">
    <header>
        <h5>Все выставки</h5>
        <div class="toolbar">
            <div class="btn-group">
                <button class="btn btn-metis-2 btn-grad" ng-click="addExhibition()">Добавить</button>
            </div>
        </div>
    </header>
    <div id="stripedTable" class="body collapse in">
        <table class="table table-striped responsive-table">
            <thead>
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Дата создания</th>
                <th>Дата редактирования</th>
                <th></th>
            </tr>
            </thead>
            <tbody ng-repeat="exhibition in exhibitions_list">
            <tr>
                <td>{{exhibition.id}}</td>
                <td>{{exhibition.name}}</td>
                <td>{{exhibition.createdAt | date :  "dd.MM.yyyy HH:mm:ss" }}</td>
                <td>{{exhibition.updatedAt | date :  "dd.MM.yyyy HH:mm:ss" }}</td>
                <td>
                    <div class="toolbar">
                        <div class="btn-group">
                            <a class="btn btn-sm btn-default" ng-click="editDirection_category(direction)">
                                <i class="fa fa-pencil-square-o"></i>
                            </a>
                            <a class="btn btn-danger btn-sm" ng-click="deleteDirection_category(direction)">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

