

<div style="background-color: white">
    <div class="modal-header">

        <h4 class="modal-title">Редактирование категории(дирекции)</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <fieldset>


                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="input_name">Название</label>
                    <div class="col-md-8">
                        <input id="input_name" name="input_name" type="text" placeholder="Название" class="form-control input-md" required="" ng-model="ngDialogData.name">

                    </div>
                </div>


                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="btn_logo">Загрузить лого</label>
                    <div class="col-md-4">
                        <button id="btn_logo" name="btn_logo" class="btn btn-primary" ng-model="ngDialogData.new_logo" ngf-select>Выбрать файл</button>
                    </div>
                    <div class="col-md-4">

                        <img ng-if="(ngDialogData.logo && !ngDialogData.new_logo)" width="30px" height="30px" ng-src="{{UrlConfig.serverUrl+':'+UrlConfig.serverPort}}{{ngDialogData.logo}}">
                        <img ng-if="ngDialogData.new_logo" width="30" ngf-thumbnail="ngDialogData.new_logo" class="thumb">
                        <button ng-if="(ngDialogData.new_logo || ngDialogData.logo)" class="btn btn-danger" ng-click="ngDialogData.logo = null; ngDialogData.new_logo = null">Удалить</button>
                    </div>

                </div>

            </fieldset>
        </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="closeThisDialog()"> Закрыть </button>
        <button class="btn btn-success" ng-click="saveCategory(ngDialogData)"> Сохранить </button>
    </div>
</div><!-- /.modal-content -->
