<div class="login">
    <div class="form-signin">
        <div class="text-center">
            <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="Metis Logo">
        </div>
        <hr>
        <div class="tab-content">
            <div id="login" class="tab-pane active">
                <form action="index.html">
                    <p class="text-muted text-center">
                        Введите Ваш Email и пароль
                    </p>
                    <input type="text" placeholder="Email" id="inputEmail" class="form-control top" required autofocus ng-model="auth.email">
                    <input type="password" placeholder="Пароль" id="inputPassword" class="form-control bottom" required ng-model="auth.password">
                    <button class="btn btn-lg btn-primary btn-block" type="button" id="loginBtn" ng-click="login(auth)">Вход</button>
                </form>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {

                $('#inputPassword').keyup(function(event){

                    if (event.keyCode==13)
                    {
                        $('#loginBtn').click();
                    }

                });

                $('.list-inline li > a').click(function() {
                    var activeForm = $(this).attr('href') + ' > form';
                    //console.log(activeForm);
                    $(activeForm).addClass('animated fadeIn');
                    //set timer to 1 seconds, after that, unload the animate animation
                    setTimeout(function() {
                        $(activeForm).removeClass('animated fadeIn');
                    }, 1000);
                });
            });
        })(jQuery);
    </script>
</div>