
<div style="background-color: white">
    <div class="modal-header">

        <h4 class="modal-title">Добавления пользователя</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <fieldset>


                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="input_name">Имя</label>
                    <div class="col-md-8">
                        <input id="input_name" name="input_name" type="text" placeholder="Название" class="form-control input-md" required="" ng-model="newuser.name">
                        <span id="name_span" class="error" hidden>Введите имя</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="input_email">E-mail</label>
                    <div class="col-md-8">
                        <input id="input_email" name="input_email" type="text" placeholder="E-mail" class="form-control input-md" required="" ng-model="newuser.email">
                        <span id="email_span" class="error" hidden>Введите корректный e-mail</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="input_password">Пароль</label>
                    <div class="col-md-8">
                        <input id="input_password" name="input_password" type="password" placeholder="Введите пароль" class="form-control input-md" required="" ng-model="newuser.password">
                        <span id="password_span" class="error" hidden>Введите корректный пароль не менее 6 символов</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="input_re_password">Пароль повторно</label>
                    <div class="col-md-8">
                        <input id="input_re_password" name="input_re_password" type="password" placeholder="Введите пароль" class="form-control input-md" required="" ng-model="newuser.repassword">
                        <span id="repassword_span" class="error" hidden>Пароли не совпадают</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="input_type">Уровень доступа</label>
                    <div class="col-md-8">
                        <select id="input_type" ng-model="oneExhibit" ng-options="record.id for record in allexhibit track by record.id" class="form-control" style="width: 150px;"></select>
                    </div>
                </div>

            </fieldset>
        </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="closeThisDialog()"> Закрыть </button>
        <button class="btn btn-success"  ng-disabled="(!newuser.name) || (!newuser.email)" ng-click="addNewUser()"> Добавить </button>
    </div>
</div><!-- /.modal-content -->

