<div style="background-color: white">
    <div class="modal-header">

        <h4 class="modal-title">Добавления вопроса</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <fieldset>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="input_name">Вопрос</label>
                    <div class="col-md-8">
                        <input id="input_name" name="input_name" type="text" placeholder="Название" class="form-control input-md" required="" ng-model="question.name">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="input_title_ukr">Название для каталога на UKR</label>
                    <div class="col-md-8">
                        <input id="input_title_ukr" name="input_name" type="text" placeholder="на УКР" class="form-control input-md" required="" ng-model="question.title_ukr">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="input_title_en">Название для каталога на EN</label>
                    <div class="col-md-8">
                        <input id="input_title_en" name="input_name" type="text" placeholder="на АНГ" class="form-control input-md" required="" ng-model="question.title_en">
                    </div>
                </div>

            </fieldset>
        </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="closeThisDialog()"> Закрыть </button>
        <button class="btn btn-success"  ng-disabled="(!question.name)" ng-click="addQuestion()"> Добавить </button>
    </div>
</div><!-- /.modal-content -->

