.container
{
    height: 100%;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

.ngdialog.ngdialog-theme-default.custom-width-1100 .ngdialog-content {
    width: 1100px;
}

.ngdialog.ngdialog-theme-default.custom-width-1000 .ngdialog-content {
    width: 1000px;
}

.ngdialog.ngdialog-theme-default.custom-width-900 .ngdialog-content {
    width: 900px;
}

.ngdialog.ngdialog-theme-default.custom-width-800 .ngdialog-content {
    width: 800px;
}

.ngdialog.ngdialog-theme-default.custom-width-700 .ngdialog-content {
    width: 700px;
}

.ngdialog.ngdialog-theme-default.custom-width-600 .ngdialog-content {
    width: 600px;
}

.ngdialog.ngdialog-theme-default.custom-width-950 .ngdialog-content {
    width: 600px;
}

.mainMenu{
    position: relative;
    height: calc(100% - 54px);
}

.menu_item_selected
{
    color:white; !important;
}

.userAvatar
{
    display: inline-block
}
.userAvatar:hover
{
    cursor: pointer;
}

.userAvatar div
{
    display: inline-block
}

.userAvatar img
{
    width:25px
}


.databaseRazdelName
{
    font-weight: 100;!important;
}


.databaseItem
{
    padding-bottom: 5px;
}
.databaseName{
    display: inline-block;
    text-align: left;
    width: 80%;
}

.databaseButtons
{
    display: inline-block;
    text-align: right;

}

.tab-content
{
    padding-top: 20px;
}
.login{
    padding-top: 100px;
}
.dbPanel
{
    width: 100%;
    height: 45px;
    border: 1px solid black;
    background-color: #7c7c7c;
}